window {
  background: transparent;
}

/* Main */

.island-hotspot {
  min-width: 260px;
  min-height: 4px;
  background: rgba(0, 0, 0, 0.01);
}

.island-popup {
  background-color: @background;
  padding: 5px;
  border: 0px;
  border-radius: 5px;
}

/* Module */

.module-icon {
  font-family: "monospace_alt_font";
  font-size: 12px;
  color: @primary;
}

.module-text {
  font-family: "proportional_font";
  font-size: 12px;
  font-weight: bold;
  color: @on_surface;
}

.clickable-module {
  transition: background-color 0.3s ease, color 0.3s ease;
}

.clickable-module:hover {
  background-color: @surface_container_highest;
  border-radius: 10px;
  padding-left: 5px;
  padding-right: 5px;
}

/* Menu */

.menu {
  background-color: @background;
  min-width: 200px;
  max-width: 500px;
  padding: 10px;
  border-radius: 5px;
}

.menu-title {
  font-family: "proportional_font";
  font-size: 13px;
  color: @primary;
  font-weight: 600;
}

.menu-icon {
  font-family: "monospace_alt_font";
  font-size: 13px;
  margin-right: 7px;
  color: @primary;
}

/* Menu big label */

.menu-big-label {
  padding: 14px 0px;
}

.menu-big-label-background {
  background-color: @surface_container_high;
  border-radius: 5px;
}

.menu-big-label-icon {
  font-family: "monospace_alt_font";
  font-size: 26px;
  color: @primary;
}

.menu-big-label-label {
  font-family: "proportional_font";
  font-size: 26px;
  font-weight: 800;
  color: @on_surface;
}

.menu-big-label-footer {
  font-family: "proportional_font";
  font-size: 11px;
  color: @primary_fixed_dim;
}


/* Menu seperator */

.menu-separator {
  min-height: 1px;
  background-color: @outline_variant;
  margin-top: 6px;
  margin-bottom: 8px;
}

/* Menu bullet */

.menu-bullet-icon {
  font-family: "monospace_alt_font";
  margin-top: -6px;
  margin-bottom: -6px;
  font-size: 16px;
  margin-right: 5px;
  color: @primary;
  min-width: 16px;
}

.menu-bullet-title {
  font-family: "proportional_font";
  font-size: 13px;
  color: @on_surface;
}

.menu-bullet-value {
  font-family: "proportional_font";
  font-size: 13px;
  color: @primary_fixed_dim;
}

/* Small fixes */

revealer {
  margin: 0;
  padding: 0;
  border: none;
}
